/* =============
    Alban 
============= */
#Alban{

@include md{
    grid-template-columns: auto 89% auto;
    }

    img{
        width: 100%;
    }
    article{

        #not{
            background-color: #3D5A80;
        }
        
        #thief{
            background-color: #FA7A3A;

        }
       
    }

    ul{

        margin: 0;
        padding: 0;
        display: flex;
        
        
        li{
           padding: 16px;
           padding: 16px 16px 16px 16px;
           list-style:none;
           font-size: 20px;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
           margin: 20px;
        }
        
            }
}