/* =============
    Alban 
============= */
#Alban{

    #AlbanK {
         width: 100vw;
         height: 50vh;
        background-size: cover;
        background-position: center;
         background-image: url("../img/heroes/hero1.jpg");
    

        @include lg{
            height: 70vh;
          }
}

    article {
        color: white;

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
        }

        .Cat-Labels{
            display: flex;
            align-items: center;

            button {
                background-color: transparent;
                border: none;
                font-size: rem-calc(16);
                font-weight: 700;
                color: white;
                margin-left: auto;
                @include lg{
                    display: flex;
                    align-items: center;
                }

                img{

                    @include md{
                        margin-left: 8px;
                    }
                }

            }
        }

        #not{
            background-color: #FA7A3A;
            padding: 16px;

            include xxl{
                grid-template-columns: auto 720px 16px;
            }
        }

        #thief {

            padding: 16px;
            background-color: #3D5A80;

            @include xxl{
                grid-template-columns: 16px 720px auto;
            }

            p{
                span{
                    font-weight: 700;
                }
            }

        }

    }
}   