/* =============
    learn
============= */
#learn{

    @include md{
        grid-template-columns: auto 80% auto;
        }

        @include xxl{

        grid-template-columns: auto 1440px auto;
        }

>div{

    @include md{
        display: grid;
        grid-template-columns: 50% auto;

    }

    article{
        #learn-uki{

            background-color: #B600FF;


        }

        #learn-yugo{

            background-color: #1F51FF;

        }

    }

    ul{

        margin: 0;
        padding: 0;
        display: flex;
        
        
        li{
           padding: 16px;
           padding: 16px 16px 16px 16px;
           list-style:none;
           font-size: 30px;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
           margin: 20px;
        }
        
            }

    aside{

        img{
            width: 35%;
        } 

    }

    section{

    }

}

   
}