/* =============
    learn
============= */
#learn{

    display: grid;

    @include md{
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". learn .";
        }

        @include xl{

        grid-template-columns: auto 1440px auto;
        }

>div{

    grid-area: learn;
    display: grid;
    gap: 24px;
    padding: 16px;

    @include md{
        grid-template-columns: 50% auto;
    }

        #uki {
            aside{
                
                background-image: url('../img/learnmore/ukivioleta.jpg');
                background-position: 80% 50%;
                
            }

        }

        #yugo {
            aside{
                
                background-image: url('../img/learnmore/yugoasuma.jpg');
                background-position: 90% 70%;
                
            }
        }
        
            }

            .sub {
        
                background-color: #1F51FF;
                
                color: white;
                padding: 16px;

                display: flex;
                align-items: center;

                .circle-container{
                    margin-left: auto;
                }

                h1{
                    font-weight: 400;
                }

                button{
                    margin-top: 16px;
                }
            }

    aside{
        width: 85px;
        height: 85px;
        border-radius: 100%;
        border: 4x solid white;

        @include md{
            width: 113px;
            height: 113px;
        }

    }

}

   
