/* =============
    learn
============= */
#learn{

    @include md{
        grid-template-columns: auto 80% auto;
        }

        @include xxl{

        grid-template-columns: auto 1440px auto;
        }

>div{

    @include md{
        display: grid;
        grid-template-columns: 50% auto;

    }

    article{
        #uki{

            background-color: #B600FF;


        }

        #yugo{

            background-color: #1F51FF;

        }

    }

    ul{

        margin: 0;
        padding: 0;
        display: flex;
        
        
        li{
           padding: 16px;
           padding: 16px 16px 16px 16px;
           list-style:none;
           margin: 20px;
        }

        #uki {
            aside{

                background-image: url(../img/learnmore/ukivioleta);
                background-position: 53% 68%;
            }

        }

        #yugo {
            aside{

                background-image: url(../img/learnmore/yugoasuma.jpg);
                background-position: 53% 68%;
            }
        }
        
            }

            .hero-sub-content {
                background-color:#1F51FF;
                color: var(--var white);
                padding: 16 px;
            }

    aside{
        width: 85px;
        height: 85px;
        border-radius: 100%;
        border: 4x solid vari(--white);

        @include md{
            width: 113px;
            height: 113px;
        }

    }

    section{

    }

}

   
}