/* =============
    Buttons
============= */
button{
    margin: 0;
    padding: 0;
}

.main-button{
    background-color: var(--dark-blue);
    border: none;
    color: var(--white);
    padding: 6px 14px;
}