/* =============
    Buttons
============= */
button{
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.main-button{
    background-color: #3D5A80;
    border: none;
    color: white;
    padding: 6px 14px;
}

hover{
    background-color: orange;
}